<br><br>
<div class="container">
  <div *ngIf="alertMensagem" class="alert alert-danger" role="alert">
    {{alertMensagem}}
  </div>
  <div class="card">
    <div class="card-header text-center">Formulário de pesquisa</div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="voluntario">Voluntário:</label>
            <input type="text" id="voluntario" name="voluntario" [(ngModel)]="pesquisa.voluntario" maxlength="45" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="preferencia">Preferência:</label>
            <select class="form-control" id="preferencia" name="preferencia" [(ngModel)]="pesquisa.preferencia">
              <option ngValue="comedia">Comédia</option>
              <option ngValue="romance">Romance</option>
              <option ngValue="acao">Ação</option>
              <option ngValue="terror">Terror</option>
              <option ngValue="drama">Drama</option>
            </select>
          </div>
        </div>
        <br>
        <a (click)="registrar(pesquisa);" class="btn btn-outline-primary btn-block">Registrar</a>
      </form>
      <br>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header text-center">Gráfico da pesquisa</div>
    <div class="card-body">
      <canvas class="graficoPizzaStyle" #graficoPizza></canvas>
    </div>
  </div>
  <br>
  <div class="footer text-muted text-center">&copy; Miguel Castro / 2022</div>
</div>



